:root {
    /* Primary Colors */
    --clr-very-dark-blue: hsl( 243, 87%, 12% );
    --clr-desaturated-blue: hsl( 238, 22%, 44% );

    /* Accent Colors */
    --clr-bright-blue: hsl( 224, 93%, 58% );
    --clr-moderate-cyan: hsl( 170, 45%, 43% );
    
    /* Neutral Colors */
    --clr-light-grayish-blue: hsl( 240, 75%, 98% );
    --clr-light-gray: hsl( 0, 0%, 75% );

    /* Google Fonts */

    /* Headings, Call-to-action, Header Navigation */
    --ff-Raleway: 'Raleway', sans-serif;

    /* Font Weights */
    --fw-400: 400;
    --fw-700: 700;

    /* Body */
    --ff-Open-Sans: 'Open Sans', sans-serif;

    /* Font Weights */
    --fw-400: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--ff-Raleway);
}

nav {
    display: flex;
    height: 130px;
    width: 90%;
    margin: 0 auto;
}

.header-logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.header-nav {
    width: 50%;
}

.header_navbar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.link {
    text-decoration: none;
    margin-right: 4rem;
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-700);
}

.nav-link:last-child > a {
    margin-right: 0;
}

.header-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}

.left-header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content {
    min-height: 350px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-header > h1 {
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-700);
    font-size: 37px;
    line-height: 1.5;
}

.header-p > p {
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-700);
    font-size: 18px;
    line-height: 1.5;
}

.header-form > input {
    height: 40px;
    width: 50%;
    padding: 0 0 0 1rem;
}

.header-form > button {
    height: 40px;
    width: 30%;
    background-color: var(--clr-bright-blue);
    border: none;
    color: #fff;
    font-family: inherit;
    font-weight: var(--fw-700);
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-form > span {
    display: block;
    padding: 0.5rem 0;
}

.header-hero > img {
    width: 100%;
    height: 100%;
}

.main-main {
    padding: 2rem 0;
    font-family: var(--ff-Open-Sans);
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    width: 90%;
    margin: 0 auto;
    height: 80%;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-header > h1 {
    font-size: 40px;
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-700);
}

.content-p > p {
    font-size: 15px;
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-700);
    max-width: 550px;
    line-height: 1.5;
}

.content-link {
    display: flex;
    border-bottom: 2px solid var(--clr-moderate-cyan);
    width: 165px;
    align-items: center;
    justify-content: space-between;
}

.content_link > li {
    list-style: none;
}

.content_link > li > a {
    text-decoration: none;
    color: var(--clr-moderate-cyan);
}

.link-img {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-testimonies {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    padding: 1.5rem 2rem;
    height: 200px;
    border-radius: 5px;
}

.s-marks > img {
    width: 18px;
}

.testimony {
    font-size: 0.8rem;
    font-weight: var(--fw-400);
    color: var(--clr-very-dark-blue);
}

.CEO {
    display: flex;
    align-items: center;
    height: 100px;
}

.CEO-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45px;
}

.CEO-img > img {
    border-radius: 50%;
    width: 30px;
}

.CEO-content > h2 {
    font-size: 0.6rem;
}

.CEO-content > p {
    font-size: 0.5rem;
}

.main_right_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main_right_img > img {
    width: 100%;
}

.access {
    height: 250px;
    display: flex;
    align-items: center;
    background-color: var(--clr-desaturated-blue);
    font-family: var(--ff-Open-Sans);
}

.access-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 200px;
    display: flex;
    align-items: center;
    color: #fff;
}

.access-content {
    width: 50%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.access-header > h1 {
    font-size: 2rem;
}

.access-p > p {
    color: var(--clr-light-gray);
    max-width: 520px;
}

.access-form {
    width: 40%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.access-form > input {
    height: 55px;
    width: 75%;
    padding: 0 0 0 1rem;
}

.access-form > button {
    height: 40px;
    width: 35%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--clr-bright-blue);
    color: #fff;
}

footer {
    height: 400px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--clr-very-dark-blue);
    font-family: var(--ff-Open-Sans);
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    width: 90%;
    margin: 0 auto;
    height: 250px;
}

.phone {
    display: flex;
    align-items: center;
    height: 35px;
}

.phone > img,
.email > img {
    margin-right: 1rem;
}

.email {
    display: flex;
    align-items: center;
    height: 35px;
}

.about,
.contact,
.socials {
    list-style: none;
    height: 100%;
}

.about > li,
.contact > li,
.socials > li {
    margin-top: 1.5rem;
}

.about > li:first-child,
.contact > li:first-child,
.socials > li:first-child {
    margin-top: 0;
}

.about > li > a,
.contact > li > a,
.socials > li > a {
    text-decoration: none;
    color: #fff;
}

.socials > li > a {
    font-size: 1.1rem;
}

.position {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.position-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.position-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-row > li {
    margin: 0 1rem;
    border: 2px solid #fff;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}