@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
}

#business {
    background-image: url(./assets/bg-curve-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    #business {
        background-image: url(./assets/bg-curve-desktop.svg);
    }
}

#testimony {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}